*{
  margin:0;
  padding: 0;
  text-decoration: none;  
}
.ideot{
  display: flex;
  justify-content: center;
  background-color: black;
}

.ideot2{
  width: 75%;   
  margin: auto;
  background-color: rgb(63, 113, 63);
  justify-content: center;
  align-items: center;
}
/* modifica el nav*/
.barra{
  padding-top: 1%;
  height: 70px;
  background-color: rgb(74, 74, 74);
}

.u{
  display: flex;
  justify-content: space-evenly;
}

.l{
  padding-left: 10%;
  padding-right: 10%;
  background-color: black;
  padding: 1%;
  list-style: none;
  border-radius: 20px;
}

a{
  text-decoration: none;
  color: rgb(185, 185, 172);
}

.l:hover{
  background-color: rgb(10, 10, 10);
  animation: salto 1s infinite;
}

/* da efecto a los botones de la barra nav*/
@keyframes salto {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0px);
  }
}

/* da efecto a los botones de la barra nav*/
@keyframes desvanecido {
  0% {
      transform: translateX(0px);
  }
  50% {
      transform: translateX(-5px);
  }
  100% {
      transform: translateX(0px);
  }
}

/* modifica el main y le da herencia a sectión y a .barra*/
main{
  width: 100%;
  height: 100%;
  background-color: rgb(65, 62, 62);
}
/* le crea espacio a la sectión (imágenes)*/
section{
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}

/* permite que las imágenes sean responsive*/
.imagenes{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.imagenes img:hover{
  animation: imagenesA 2s;
}

img{
  width: 20%;
  height: 50%;
  background-position: center;
background-attachment: contain;
background-size: cover;
  box-shadow: 10px 20px 20px 5px rgb(0, 0, 0);
  border-radius: 20px;
}
p #COMPRAR{
  text-align: center;
}
/*efecto de las tarjetas expasión*/
@keyframes imagenesA {
  0% {
      width: 20%;
  height: 50%;
  }
  50% {
      width: 25%;
      height: 55%;
  }
  100% {
      width: 20%;
  height: 50%;
  }
}

/*Modifica el botón de suscripción*/
button{
  background-color: black;
  border: none;
  padding: 2%;
  border-radius: 20px;
}
/*efecto al botón*/
button:hover{
  animation: salto 1s infinite;
}

/*afecta las tarjetas en su posición*/
.cartas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.card .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;

}


.card .front{
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;

}

.card .front .IMAGENTAR{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.card .front h3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: #000;
  text-align: center;
}

.card .back{
  transform: perspective(600px) rotateY(180deg);
  background: #000;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;

}

.card .back .link{
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back a{
  color: #f3f3f3;
}

.card .back h3{
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p{
  letter-spacing: 1px;
}

.card:hover .front{
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
  transform: perspective(600px) rotateY(360deg);
}

/*afecta el footer y su clase .pie*/
footer{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgb(70, 65, 65);
  text-align: center;
}
.pie{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* PRODUCTOS*/
/* agregar una clase para pasar a style OJO revisar cual salto es y si no se daña el index.html*/
@keyframes salto {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0px);
  }
}
/* agregar una clase/id para pasar a style */
main{ 
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgb(65, 62, 62);
  text-align: center;
}
/* agregar una clase para pasar a style */
section{
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}
/* agregar una clase para pasar a style OJO revisar las etiquetas de img de index.html y el registrarse.html  */
.imagenes2{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img2{
  width: 200px;
  height: 300px;
  background-position: center;
background-attachment: contain;
background-size: cover;
  box-shadow: 10px 20px 20px 5px rgb(0, 0, 0);
  border-radius: 20px;
}
/* agregar una clase para pasar a style */
.img2:hover{
  animation: imagenesA 2s;
}

@keyframes imagenesA {
  0% {
      width: 20%;
  height: 50%;
  }
  50% {
      width: 25%;
      height: 55%;
  }
  100% {
      width: 20%;
  height: 50%;
  }
}
/*INICIO de SESION */
.ideot3{
  display: flex;
  justify-content: center;
  background-color: black;
}
.IS{
  width: 50%;
  height: 50%;
  background-color: rgb(27, 27, 27);
  padding: 5%;
  border-radius: 20px;
  color: #fff;
  border: 3px solid #fff;
  box-shadow: 0px 0px 25px #222;
  backdrop-filter: blur(10px);
}

.H11{
  font-size: 50px;
}

.formulario{
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  border-style: none;
  outline-style: none;
  padding: 2%;
}

.button1{
  border-style: none;
  outline-style: none;
  border-radius: 5px;
  padding: 2%;
  background-color: rgb(84, 84, 88);
}

#menu{
  width: 180px;
  background-color:rgb(18, 71, 92);
  display: flex;
  position: absolute;
  flex-direction: column;
  left: -100px;

  }
#menu img{
  width: 150;
  height: 100;
}
#menu p{
  font-style: italic;
  text-align: justify;
  padding: 8px;
  color: aliceblue;
  right: 120px;
}

